.footer__links{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 18px;
}

@media screen and (max-width: 767px){
    .footer__links{
        grid-template-columns: auto;
    }
}