.intro__text {
  margin: 0;
  font-size: 16px;
  width: 690px;
  padding-bottom: 33px;
  line-height: 163%;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-width: 1024px) {
  .intro__text {
    width: calc(720px - (100vw - 768px)*0.1171875);
  }
  @media screen and (max-width: 768px) {
    .intro__text {
      width: 100%
    }
  }
}