.cover{
    padding-left: min(max(0px,calc((100vw - 1184px)/96*48)),48px);
    padding-right: min(max(0px,calc((100vw - 1184px)/96*48)),48px);
    padding-bottom: min(calc(64px + (100vw - 320px)/448*24),92px);
}