.lead__caption {
  margin: 0;
  font-size: 10px;
  line-height: 1.4;
  text-transform: uppercase;
  margin-left: max((50% - ((min(min(calc(768px + (100% - 768px)*0.625), 984px), 100%))/2)), 24px);
  letter-spacing: 1.5px;
}

@media screen and (max-width: 768px) {
  .lead__caption {
    margin-left: min(5vw, 24px);
  }
}